html,body{

    height: 100%;
    margin: 0;
    padding: 0;
}




body{
background-image: url(peakpx\ \(3\).jpg);
background-size: cover;
background-position: center;
background-repeat:no-repeat ;
color: white;
}
    



h1{
text-align: center;
font-family: sans-serif;
color: white;
font-size: 3px;
margin-top: 20px;

}